@import "variables";
@import "mixins";

:host {
  height: 42px !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.tr-loader {
  position: absolute;
  left: 50%;
  padding: 10px;
}

.is-invalid {
    position: relative;
    .form-control {
        border: 2px solid #D4371C;
        background: #fff !important;
        box-shadow: none;
    }
    &:before {
        font-family: 'hitachi' !important;
        content: "\e91f";
        position: absolute;
        right: 10px;
        top: 10px;
        color: #D4371C;
    }
}
.notValid{
  background-color: #FCEBEB !important;
}
.showQuantityTooltip{
  padding: 0px !important;
  border: 0px !important;
}

.alert-danger.unfound-products {
  display: block;
  width: 100%;
  padding: 20px 0px 20px 15px;
  margin: 0px;
}

.alert-danger.unfound-products span {
  font-size: 0.875rem;
}

.alert-danger.unfound-products .alert-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.alert-danger.unfound-products .alert-button .icon-reset-canges {
  font-size: 0.875rem;
  padding-left: 10px;
}

.table-striped tr .grey-column .qty-column {
  background: transparent;
  border: none;
  text-align: right;
  padding: 0px;
  // height: 1px;
  font-size: 0.875rem;
}

.changeOwnerModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  outline: 0;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);

  .modal-body {
    overflow: hidden !important;
  }

  .modal-header {
    padding: 10px 15px 8px;
    display: block;
  }

  .modal-content {
    position: relative !important;
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
    width: 400px !important;
    pointer-events: auto !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 0.3rem !important;
    outline: 0 !important;
    left: 0;
    padding: 20px;

    .form-group select.form-control {
      width: fit-content;
    }

    .select-group:after {
      position: absolute;
      right: -50px;
    }
  }
}

.table .ladda-button[data-style="expand-right"] .ladda-spinner {
  right: -26px;
}

.table-striped tbody .btn-icon.ladda-button[data-loading] {
  background: transparent;
  border-color: transparent;
  padding-right: 0px;
}

.table-striped tbody .btn-icon.ladda-button[data-loading] .icon-trash:before {
  content: "";
}

.btn.btn-icon.ladda-button:hover,
.btn.btn-icon.ladda-button:focus,
.btn.btn-icon.ladda-button:active {
  color: $brand-red3; // #b30013
  background-color: transparent !important;
  border-color: transparent;
}

.ladda-button.active-cart[data-style="expand-right"] .ladda-spinner {
  right: 8px;
}

.active-cart.btn.disabled,
.active-cart.btn:disabled {
  background-color: transparent;
  border-color: transparent;
}

.spinner-style {
  .btn {
    background: transparent !important;
    border: 0 !important;
  }
}

.cart-left-section {
  ul.cart-details {
    .icon-arrow-down {
      font-size: 5px !important;
    }

    li {

      .btn.disabled,
      .btn:disabled {

        // background-color: transparent !important;
        // border: 1px solid transparent !important;
        // opacity: 0.5;
        // color: $brand-dark5 !important;
        i:before {
          color: $brand-dark3 !important;
        }
      }
    }
  }
}


// input.qty-column::-webkit-inner-spin-button { margin-left: 10px; }
input.qty-column[type="number"] {
  text-align: center !important;
  background-color: #F0F0F0 !important;
  // direction: rtl;
  // width: 50px;
}

.disable-link {
  pointer-events: none;
}

.overflow-visible {
  overflow: visible;
}

.table-striped tr.disabled td {
  color: $brand-dark3 !important;
}

.table-striped tr.disabled td .icon-warning-message:before {
  color: $brand-dark3;
  padding-right: 10px;
  cursor: default;
}

.table-striped tr.disabled td .qty-column,
.table-striped tr.disabled td a {
  color: $brand-dark3 !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.constraint-icons {
  .btn {
    background: transparent !important;
    min-width: auto;
    display: inline-block;
    padding-right: 10px;

    .fa-exclamation-triangle:before {
      color: #fc9d03;
      // #ff0026
    }
  }

  .error {
    .fa-exclamation-triangle:before {
      color: #ff0026 !important;
      // #ff0026
    }
  }

  .badge-primary {
    display: inline-block;
    position: relative !important;
    top: 1px !important;
    background: transparent;
    color: #fc9d03 !important;
    font-size: 0.875rem;
  }

  .error {
    .badge-primary {
      color: #ff0026 !important;
    }
  }

  &:hover {
    background: $brand-red3; // #b30013
    color: #fff;

    .fa-exclamation-triangle:before,
    .badge-primary {
      color: #fff !important;
    }
  }
}

.disablePointer {
  pointer-events: none;
}

apt-alert .btn {
  border: none !important;

  .ladda-label {
    color: #0f62fe !important;
  }
}

apt-alert .btn:hover {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}

apt-revalidate-cart-modal .modal-header .close:before {
  content: "" !important;
}

.product-format a {
  color: $brand-red2;
  text-decoration: underline;
}

.account-setting {
  background: #fff;
  padding: 15px 15px;
  h6 {
    padding-top: 15px;
    font-size: 16px;
    border: none !important;
    strong {
      font-family: "OpenSans Bold";
    }
    p {
      font-size: 14px;
    }
  }
}

.icon-info:before {
  color: black;
}

.tooltip-wide .tooltip.bottom,
.tooltip-inner {
  max-width: none;
}

.createRfqLi {
  position: relative;

  .icon-info {
    padding: 5px;
    position: absolute;
    left: -2px;
    top: 7px;
    margin-left: 5px;
  }
}

.createRfqLi:hover {
  color: #fff !important;
  background-color: $brand-red3 !important; // #b30013
  border-color: $brand-red3 !important; // #b30013
}

.btn2 {
  min-height: 40px;
  border-radius: 0;
  text-decoration: none !important;
  font-size: 0.875rem;
  align-items: center;
  display: flex;
  white-space: nowrap;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  // margin-left: 23px;
}

#a:hover+#b {
  color: #fff;
}

.btn2:hover {
  color: #fff !important;
  background-color: $brand-red3 !important; // #b30013
  border-color: $brand-red3 !important; // #b30013
}

.fa-exclamation-circle:before {
  color: $brand-red2;
}

.dropdown-btn {
  border: none;
  outline: none;
  background: inherit;
  color: inherit;
  font-size: 0.875rem;
}

.dropdown-btn:hover {
  border: none;
  outline: none;
  background: inherit;
  color: inherit;
}

.search-wrapper.create-cart {
  .new-cart-link {
    min-height: 48px;
    background: #F0F0F0;
    padding: 10px 24px !important;
    background: $light;
    border-left: none !important;
  }
  .new-cart-link:hover,
  .new-cart-link:focus {
    color: $brand-gray2 !important;
    background-color: $brand-gray6 !important;
    border-color: $brand-gray6 !important;
  }
}

.short-desc-group {
  font-size: 13px;
  color: #7d7d7d;
  position: relative;

  max-width: 155px;
  border: 0;
  background: transparent;
  width: 100%;
  padding-right: 15px;
  box-sizing: border-box;

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: #666;
    width: 100%;
  }

  i {
    font-size: 12px;
    color: $brand-red2;
    position: absolute;
    right: 0;
    top: 3px;
  }

  .prod-short-desc {
    background: #fff;
    padding: 15px 10px 10px 10px;
    z-index: 9;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    max-width: 420px;
    max-height: 120px;
    overflow: auto;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
    width: 420px;

    i {
      font-size: 12px;
      color: #000;
      position: absolute;
      top: 5px;
      right: 5px;
    }

  }

}

// .document-link-name{
//   max-height: 300px;
//   overflow: hidden;
//   overflow-y: auto;
//   text-decoration: underline;
//   color: #B30013;
//   display: block;
// }

// .document-links{
//   direction: rtl;
//   max-height: 40px;
//   overflow-y: auto;
//   a {
//     text-align: end;
//     padding-left: 5px;
//   }
// }

.tooltip {
  .tooltip-inner {
    max-width: none !important; //415px
  }
}

.active-cart-tbl {
  tr {

    td,
    th {
      padding: 6.5px 10px;

      .btn {
        padding: 18px 20px !important;
        font-size: 14px;
        line-height: inherit;
        background: transparent;
        border: 1px solid $brand-gray6;
        color: $brand-dark6;
      }

      b,
      strong {
        font-weight: normal !important;
      }

      .btn:hover,
      .btn:focus {
        background: $brand-gray6 !important;
        color: $brand-dark6 !important;
        border: 1px solid $brand-gray6 !important;
      }
    }
  }
}

.end-use-sec {
  background-color: #ffffff;
  padding-bottom: 20px;

  label {
    font-size: 14px;
  }

  button.dropdown-toggle {
    padding: 5px 15px !important;
    max-height: 34px !important;
    min-height: 34px !important;
    margin: 10px;

    i {
      font-size: 7px;
      margin-left: 10px;
    }
  }

  .dropdown-menu {
    width: fit-content !important;
  }
}

.is-info {
  position: relative;

  .form-control {
    border: 2px solid #ad8822;
    background: #fff !important;
    box-shadow: none;
  }

  &:before {
    font-family: 'hitachi' !important;
    content: "\e920";
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ad8822;
  }
}

.alert-danger.unfound-products {
  display: block;
  width: 100%;
  padding: 20px 0px 20px 15px;
  margin: 0px;
}

.alert-warning.unfound-products span {
  font-size: 0.875rem;
}
.alert.alert-success.single-supl-alert {
  border-left: 4px solid #FC9D03;
  background: #FFECC2;
  .icon-info {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    font-size: 18px;
  }
  & > i:before{
    color: #FC9D03;
  }
  .btn{
    background-color: $brand-red2;
  }
}

.saperrormessage {
  background-color: #e6f508;
  color: #d52709;
  font-size: 0.875rem;
  padding: 5px;
}

.bomclass {

  // position: relative;
  &:before {
    font-family: 'hitachi' !important;
    content: "\e920";
    // position: absolute;
    right: 10px;
    top: 10px;
    color: #ad8822;
  }
}

.modal div.constraintRuleSidebar.modal-dialog .modal-content {
  height: 100vh;
  overflow-y: auto;
}

.modal.show div.constraintRuleSidebar.modal-dialog {
  right: -1px;
}

.modal div.constraintRuleSidebar.modal-dialog {
  position: absolute;
  transition: right .3s;
  margin: -1px 0 0;
  right: -20rem;
  width: 20rem;
}

.remove {
  background-image: none !important;
  background-repeat: initial !important;
}

input[type="number"].remove::-webkit-inner-spin-button,
input[type="number"].remove::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

input[type="number"].remove {
  -moz-appearance: textfield !important;
}

.dropdownheight ul {
  height: 250px;
  overflow-y: auto;
}

.icon-configure {
  font-size: 20px;
}

.approval-req-icon {
  position: absolute;
  margin-top: -6px;
  margin-left: -10px;
  font-size: 12px;
}

.quote-list .heading-value-order i,
.heading-value i {
  float: inherit;
  padding: 19px;
  margin-top: inherit;
  margin-right: inherit;
  border-left: indianred;
  float: right;
  padding: 19px;
  margin-top: -13px;
  margin-right: -15px;
  border-left: 1px solid #d9d9d9;
  font-size: 10px;
}

.quick-order .btn-primary,
.quick-order .btn-primary {
  color: #fff !important;
  background-color: #eb0023 !important;
  border-color: #eb0023 !important;
}

.quick-order .btn-primary:hover,
.quick-order .btn-primary:hover,
.quick-order .btn-primary:focus,
.quick-order .btn-primary:focus {
  color: #ffffff !important;
  background-color: #b3000f !important;
  border-color: #b3000f !important;
}

.cart-list-info-icon {
  float: inherit !important;
  margin: 0;
  border: none !important;
}

.cart-details .btn {
  padding: 12px 15px !important;
}

.disable-export{
  color: #C1C1C1 !important;
    background-color: #fff !important;
    border-color: #fff !important;
  pointer-events: none;
}
.disable-export i:hover {
  cursor: default;
}

.arrow-position{
  position: absolute; 
  top:1px; 
  left:5px
}
@media only screen and (max-width: 1400px) and (min-width: 992px) {
  .cart-details .btn {
    padding: 12px 7px !important;
  }
  .constraint-icons span.badge {
    top: 1px !important;
    right: 6px !important;
    font-weight: normal;
}
.constraint-icons .btn.error {
  padding: 12px 20px !important;
  padding-left: 7px !important;
  position: relative;
  z-index: 1;
}
.constraint-icons .btn.error .fa-exclamation-triangle {
  padding-right: 2px !important;
}
.constraint-icons span.error {
  position: absolute;
    right: 0px;
    top: 15px;
    padding-left: 10px;
}
}
.constraint-icons .btn.error {
  position: relative;
  z-index: 1;
}
.constraint-icons .btn.error .fa-exclamation-triangle {
  padding-right: 10px;
}
.constraint-icons span.error {
  position: absolute;
    right: 0px;
    top: 15px;
    padding-left: 10px;
}
.constraint-icons span.badge {
  position: absolute;
  top: 0px !important;
  right: 8px !important;
}

li {
  .dropdown {
    a {
      padding:12px 16px !important;
    }
  }
}

.questionmark_yellow{
  padding-left: 0px;
}

@media (max-width: 1024px) and (min-width: 769px) {

  p, .table-striped tr th, .table-striped tr td, .quick-order .product-number, .quick-order .order-number, .quick-order .quantity-p, .table-striped tr td a, .table-striped tr td input[type=number] {
   font-size: 13px;
  } 
 
   .cart-details .btn, .btn, .active-cart-tbl tr td .btn, .active-cart-tbl tr th .btn {
    font-size: 10px;
    padding: 8px !important;
   }

   .cart-details li i.icon-assign-contact, .cart-details li i.icon-copy, .cart-details li i.icon-trash {
    font-size: 10px;
}
 
   h4, .heading-value, .custom-tabs .nav-link {
     font-size: 14px;
   }
 
 
 }

 
@media (min-width: 1025px) and (max-width: 1280px) {

  p, .table-striped tr th, .table-striped tr td, .quick-order .product-number, .quick-order .order-number, .quick-order .quantity-p, .table-striped tr td a, .table-striped tr td input[type=number] {
   font-size: 13px;
  } 
 
   .cart-details .btn, .btn, .active-cart-tbl tr td .btn, .active-cart-tbl tr th .btn {
    font-size: 11px;
    padding: 9px !important;
   }

   .cart-details li i.icon-assign-contact, .cart-details li i.icon-copy, .cart-details li i.icon-trash {
    font-size: 11px;
}
 
   h4, .heading-value, .custom-tabs .nav-link {
     font-size: 15px;
   }
 
 
 }

 @media (min-width: 1281px) and (max-width: 1366px) {

  p, .table-striped tr th, .table-striped tr td, .quick-order .product-number, .quick-order .order-number, .quick-order .quantity-p, .table-striped tr td a, .table-striped tr td input[type=number] {
   font-size: 14px;
  } 
 
   .cart-details .btn, .btn, .active-cart-tbl tr td .btn, .active-cart-tbl tr th .btn {
    font-size: 12px;
    padding: 12px !important;
   }

   .cart-details li i.icon-assign-contact, .cart-details li i.icon-copy, .cart-details li i.icon-trash {
    font-size: 12px;
}
 
   h4, .heading-value, .custom-tabs .nav-link {
     font-size: 16px;
   }
 
 
 }

 @media (min-width: 1367px) and (max-width: 1560px) {

  p, .table-striped tr th, .table-striped tr td, .quick-order .product-number, .quick-order .order-number, .quick-order .quantity-p, .table-striped tr td a, .table-striped tr td input[type=number] {
   font-size: 15px;
  } 
 
   .cart-details .btn, .btn, .active-cart-tbl tr td .btn, .active-cart-tbl tr th .btn {
    font-size: 13px;
    padding: 14px !important;
   }

   .cart-details li i.icon-assign-contact, .cart-details li i.icon-copy, .cart-details li i.icon-trash {
    font-size: 13px;
}
 
   h4, .heading-value, .custom-tabs .nav-link {
     font-size: 17px;
   }
 
 
 }

 .expand-collapse {
  display: block;
  margin-bottom: 1.5rem;
}

.floatingbuttons{
  -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    float: right;
    width: 90px;
    margin-top: 60px;
    
}

.floating-btn {
  font-family: "OpenSans Regular";
  padding: 12px 24px;
  color: #fff !important;
background-color: #212121 !important;
border-color: #212121 !important;
  font-size: 16px;
  /* margin-top: 10px; */
  margin-right: 10px;
  border: none;

}
.tableSize {
  flex: 0 0 98.5% !important;
  max-width: 98.5% !important;
}
.tableSize .floatingbuttons {
  position: fixed;
  right: -43px;
  top: 170px;
}
.tableSize .floating-btn {
  // margin-left: 22px;
  position: relative;
  top: -22px;
}