<!-- /Info Message -->
<!-- page-container start here -->
<h4 class="page-heading">{{'COMMON.HI' | translate}} {{userName}},</h4>
<div class="bg-light" *ngIf="cart$| async as cart;else loading">
  <section class="dashboard">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-9 pr-lg-4">
        <!-- search-bar start here -->
        <app-product-search [typeAheadLimit]="5" [dashboardSearch]='true'></app-product-search>
        <div class="col-12 bg-white mb-4">
          <div class="row">
            <!-- <div class="col-md-4 dashboard-box">
              <h4>{{totalAmount | convertCurrency | async}}</h4>
              <p>{{'MY_ACCOUNT.DASHBOARD.TOTAL_AMOUNT' | translate}}</p>

            </div> -->

            <div class="col-md-6 dashboard-box">
              <h4>{{totalOrders}}</h4>
              <p>{{'COMMON.TOTAL_ORDERS' | translate}}</p>
            </div>
            <div class="col-md-6 dashboard-box">
              <h4>{{ordersThisWeek}}</h4>
              <p>{{'MY_ACCOUNT.DASHBOARD.ORDERS_THIS_WEEK' | translate}}</p>
            </div>
          </div>
        </div>
        <!--  Order History -->
        <!-- Tabs -->
        <div class="custom-tabs bg-white mb-4">
          <!-- Table Value -->
          <ul class="nav nav-tabs mb-3 active-white" id="myTab" role="tablist">
            <li class="nav-item col-6 p-0">
              <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                aria-controls="orders" aria-selected="true" [ngClass]="QuoteTabSelected?'':'active'">{{'MY_ACCOUNT.DASHBOARD.RECENT_ORDERS'
                | translate}}</a>
            </li>
            <li class="nav-item col-6 p-0">
              <a class="nav-link" id="rfqs-tab" data-toggle="tab" href="#rfqs" role="tab" aria-controls="rfqs"
                aria-selected="false" [ngClass]="QuoteTabSelected?'active':''">{{'MY_ACCOUNT.DASHBOARD.Recent_RFQ' |
                translate}}</a>
            </li>
          </ul>
          <!-- /Table Value -->
          <div class="tab-content" id="myTabContent">
            <!-- orders Tabs -->
            <!-- table start here -->
            <div class="tab-pane fade table-responsive" id="orders" role="tabpanel"
              aria-labelledby="orders-tab" [ngClass]="QuoteTabSelected?'':'active show'">
              <app-order-list-items [recentOrders]="true" [searchPlaceholder]="orderSearchPlaceholder">
              </app-order-list-items>
              <div class="view-orders bg-white text-right">
                <a [routerLink]="['/orders']" class="btn btn-link d-inline-flex
                  align-items-center py-2">
                  {{'MY_ACCOUNT.DASHBOARD.VIEWALLORDERS' | translate}} <i class="icon-arrow-right-alt ml-3"></i>
                </a>
              </div>
            </div>
            <!-- /orders Tabs -->
            <!-- rfqs Tabs -->
            <div class="tab-pane fade table-responsive" id="rfqs" role="tabpanel" aria-labelledby="rfqs-tab" [ngClass]="QuoteTabSelected?'active show':''">
              <!-- table start here -->
              <app-quote-list [recentRFQ]="true" [searchPlaceholder]="orderSearchPlaceholder"></app-quote-list>
              <!-- table end here -->
              <div class="bg-white text-right">
                <a [routerLink]="['/quotes']" class="btn btn-link d-inline-flex
                  align-items-center py-2">
                  {{'MY_ACCOUNT.DASHBOARD.VIEWALLRFQ' | translate}} <i class="icon-arrow-right-alt ml-3"></i>
                </a>
              </div>
            </div>
            <!-- /rfqs Tabs -->
          </div>
        </div>
        <!-- Tabs -->
        <!-- Frequently Products -->
        <div class="feature-products bg-white" *ngIf="frequentlyPurchasedProducts?.length >= 1">
          <h5 class="col-12 heading-value">{{'MY_ACCOUNT.DASHBOARD.FREQPURC' | translate}}
            <i style="margin-left: 3px; padding: 5px;" class="icon-info"
              tooltip="{{'MY_ACCOUNT.DASHBOARD.FREQPURCTOOLTIP' | translate}}"></i>
          </h5>
          <div *ngIf="frequentlyPurchasedProducts"  class="product-card list-view">
            <div class="row no-gutters tab-lists list-tile">
              <div class="product-box product-value w-100" *ngFor="let product of
                    frequentlyPurchasedProducts">
                <app-pghv-product-card [product]="product" 
                  [hideAddtoCompare]="true"></app-pghv-product-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-3 pl-lg-0">
        <div class="bg-white mb-4" *ngIf="featuredProducts?.length >= 1">
          <div class="heading-value">
            <span>Featured Products </span>
          </div>
          <div id="featured-slide" class="container carousel d-flex align-items-center slide p-0" data-ride="carousel"
            data-interval="true">
            <!-- Indicators -->
            <ul class="carousel-indicators" *ngIf="featuredProducts.length > 1">
              <ng-container *ngFor="let product of featuredProducts;let i= index;">
                <li data-target="#featured-slide" data-slide-to="i" [ngClass]="i==0?'active':''"></li>
              </ng-container>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#featured-slide" data-slide="prev">
                <i class="icon-arrow-left"></i>
                <span class="d-none">Left Arrow</span>
              </a>
              <a class="carousel-control-next" href="#featured-slide" data-slide="next">
                <i class="icon-arrow-right"></i>
                <span class="d-none">Right Arrow</span>
              </a>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner border-bottom pb-3 mb-5">
              <ng-container *ngFor="let product of featuredProducts;let i= index;">
                <div [ngClass]="i==0?'carousel-item active':'carousel-item'">
                  <div class="product-value">
                    <a class="product-img" [routerLink]="['/products', product.Id]">
                      <img [title]="product?.Name" [src]="product?.IconId | pghv_image" [alt]="product?.Name" />
                    </a>
                    <div class="product-des float-left">
                      <a [routerLink]="['/products', product.Id]" class="product-name">{{product.Name}}</a>
                      <p class="product-sku" *ngIf="product.ProductCode">SKU: {{product.ProductCode}}</p>
                      <div class="d-lg-flex mt-2">
                        <div class="col-auto pl-0">
                          <p class="product-details text-justify">{{product.Description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>


        <!-- TO DO EAP : SDK QUICK ADD COMPONENT -->
        <!-- <div class="quick-order bg-white">
          <div class="heading-value">
            <span>{{'MY_ACCOUNT.QuickOrder.QUICK_ORDER' | translate}} 
              <i style="margin-left: 3px; padding: 5px;" class="icon-info"
                  tooltip="{{'MY_ACCOUNT.QuickOrder.QUICK_ORDER_TOOL_TIP' | translate}}"></i>
            </span>
          </div>
          <div class="col-12 py-2">
             <h6 class="order-number"><strong>{{'MY_ACCOUNT.QuickOrder.ADD_PRODUCTS_BY_PRODUCT_CODE'
                | translate}}</strong>
             </h6>
          </div>
          <div class="is-valid">
             <app-quick-add [layout]="'embaded'" [fields]="fields" [productFieldType]="'lookup'"
             [businessObjectFields]="businessObjectFields" [businessObject]="businessObject" [btnClass]="'btn-custom-secondary'"></app-quick-add>
          </div>
       </div> -->
        <div class="quick-order bg-white">
          <div class="heading-value">
            <span>{{'MY_ACCOUNT.QuickOrder.QUICK_ORDER' | translate}}
              <i style="margin-left: 3px; padding: 5px;" class="icon-info"
                tooltip="{{'MY_ACCOUNT.QuickOrder.QUICK_ORDER_TOOL_TIP' | translate}}"></i>
            </span>
          </div>
          <div class="col-12 py-3">
            <h6 class="order-number"><strong>{{'MY_ACCOUNT.QuickOrder.ADD_PRODUCTS_BY_PRODUCT_CODE'
                | translate}}</strong></h6>
            <div class="row mt-4">
              <div class="col-8">
                <h6 class="product-number"><strong>{{'MY_ACCOUNT.QuickOrder.PRODUCT_CODE'
                    | translate}}</strong></h6>
              </div>
              <div class="col-4">
                <h6 class="quantity-p"><strong>{{'MY_ACCOUNT.QuickOrder.QUANTITY'
                    | translate}}</strong></h6>
              </div>
            </div>
            <div *ngFor="let item of divs; let i= index">
              <div class="row form-group mb-1">
                <div class="col-8 pr-0" (keyup)="checkCondition(i)">
                  <div [ngClass]="showerroMessage[i]?'is-invalid': (showDiffSupplierMessage[i])?'is-info':''">
                    <input type="text" class="form-control" id="productNumber"
                      placeholder="{{'MY_ACCOUNT.QuickOrder.PRODUCT_CODE' | translate}}" [(ngModel)]="productName[i]">
                  </div>
                </div>

                <div class="col-4 pl-1">
                  <div [ngClass]="showerroMessage[i]?'is-invalid': (showDiffSupplierMessage[i])?'is-info':''">
                    <input type="text" class="form-control text-right" id="quantity" placeholder="##"
                      [(ngModel)]="productQty[i]" [min]='1' [max]="99999" appNumbersOnly
                      (blur)="defaultQty(productQty[i], i)">
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group mb-1 ">
              <div class="col-12">
                <button class="btn  float-right btn-link-secondary btn-block d-flex
                  align-items-center w-auto" (click)="addRow()"
                  [disabled]="divs.length>= 10">{{'MY_ACCOUNT.QuickOrder.ADD_ROW'
                  | translate}} <i class="icon-add ml-auto"></i></button>
              </div>
            </div>
          <div class="alert alert-warning unfound-products" *ngIf="showInfoMessage">
            <i class="icon-warning-message"></i><span><strong>
                {{'ProductCard.PRODUCT_CODE' | translate}} {{'ProductCard.DiffSupplierAddedtoCart3' | translate}}
                {{'ProductCard.DIFFERENT_SUPPLIER' | translate}}. {{'ProductCard.DIFF_SUPPLIER_REST_MESSAGE_1' |
                translate}}</strong></span>
          </div>
          <div class="alert alert-danger unfound-products" *ngIf="showerrorFlag">
            <i class="icon-danger-message"></i><span><strong>{{'MY_ACCOUNT.QuickOrder.PRODUCT_NOT_FOUND'
                |
                translate}}</strong></span>
          </div>
          <div class="d-flex justify-content-between" style="column-gap: 5px" *ngIf="!showerrorFlag">
            <button type="reset" class="btn btn-secondary col-md-6 d-flex
              align-items-center text-center" (click)="resetproduct()">{{'COMMON.CANCEL' |
              translate}} <!--<i class="icon-reset ml-auto"></i>--></button>
            <button type="button" class="btn btn-primary col-md-6" [ladda]="spinner" [disabled]="enableAddQuickOrderButton"
              (click)="addProductsToCart()">{{'MY_ACCOUNT.QuickOrder.ADD_ITEMS_TO_CART'
              | translate}}</button>
          </div>              
          </div>

        </div>
      </div>
    </div>

  </section>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <apt-spinner></apt-spinner>
  </div>
</ng-template>
<ng-template #addToCartConfirmationTemplate>
  <div class="alert alert-success alertBottom single-supl-alert">
    <i class="icon-info"></i>
    <span class="item-text">
      <!-- <strong> {{ "ProductCard.DiffSupplierAddedtoCart" | translate }}</strong> -->
      <i class="icon-close" (click)="confirmationModal.hide()"></i>
      <p>
        Prices for item(s) in the cart have been updated. Please review your cart.', 'Cart Update
      </p>
    </span>
  </div>
</ng-template>

<!-- page-container end here -->