<!-- CUSTOM PRODUCT COMPONENT -->
<div *ngIf="product && product[identifier]" class="prod-body">
    <!-- <div > -->
    <div class="card-view" *ngIf="type == 'card'">

        <div class="prod-top">
                            <button *ngIf="!isGuestUser" class="quick-view mx-2 d-inline-block align-items-start align-self-center p-0" tooltip="{{ 'ProductCard.QuickView' | translate }}" (click)="openModal($event, product)" [ladda]="quickViewLoader" style="padding: 0px !important">
                    <i class="icon-view ms-2 p-0" style="padding: 0px !important;top: 2px;position: relative;vertical-align: super"></i>
                </button>
            <label style="float: none !important;vertical-align: top"  *ngIf="!isRFC" class="custom-label ml-auto" tooltip="{{ 'ProductCard.AddtoCompare' | translate }}">
                <input type="checkbox" (change)="addToCompare(product, $event)" [checked]="isSelected" />
                <svg id="fi_12329008" style="width: 20px" enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m19.7 8.7-3 3c-.2.2-.4.3-.7.3s-.5-.1-.7-.3c-.4-.4-.4-1 0-1.4l1.3-1.3h-11.6c-.5 0-1-.5-1-1s.5-1 1-1h11.6l-1.3-1.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l3 3c.4.4.4 1 0 1.4z"></path>
                    <path d="m20 16c0 .5-.5 1-1 1h-11.6l1.3 1.3c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3s-.5-.1-.7-.3l-3-3c-.4-.4-.4-1 0-1.4l3-3c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-1.3 1.3h11.6c.5 0 1 .5 1 1z"></path>
                </svg>
<!--
                <span class="text-value">
                    {{ "ProductCard.AddtoCompare" | translate }}
                </span>
-->
            </label>
            
                <button style="float: right; padding: 0px !important" *ngIf="fromFavorites" (click)="removeFavoriteItem()" class="btn btn-icon align-items-start favdeletebtn" tooltip="{{ 'ProductCard.FAV_DELETE_ICON' | translate }}">
                    <i class="fa fa-star pl-2" style="color: #cc0000;font-size: 16px;"></i>
                </button>
        </div>

        <a (click)="getConfiguratorUrl(bundleProduct)" class="product-img">
            <img class="" [src]="product?.IconId | image" [alt]="product?.Name" />
        </a>

        <div class="middle-card">
            <div class="product-des-0 product-id float-left-0">
                <div>
                    <a (click)="getConfiguratorUrl(bundleProduct)" class="product-name">{{
            product?.ProductCode
          }}</a>
                </div>
                <p class="product-code product-sku h-26-0">{{ product?.Name }}</p>
            </div>


            <div class="product-details">
                <div class="desc">
                    <p class="productcss" *ngIf="product?.Description">
                        {{ product?.Description }}
                    </p>
                </div>
                <div class="specifications">
                    <h4 class="mb-3" *ngIf="product?.ProductFeatureValues?.length > 0">
                        {{ "ProductCard.Specifications" | translate }}
                    </h4>
                    <ul class="list-styled-item">
                        <li class="" *ngFor="
                let features of product?.ProductFeatureValues | slice : 0 : 2;
                let i = index
              ">
                            {{ features.Feature.Name }}
                            <span *ngIf="features?.Value">
                                - {{ features?.Value }}
                                {{
                  features?.APTS_Matrix_Unit_c
                    ? features?.APTS_Matrix_Unit_c
                    : ""
                }}</span>
                        </li>
                    </ul>
                    <div *ngIf="product?.ProductFeatureValues?.length > 2">
                        <a class="pl-3 show-more btn-link-primary" (click)="openModal($event, product)">show more</a>
                    </div>
                </div>
            </div>
            <!--supplier info starts -->
            <div>
                <p class="supplier-info" *ngIf="!isGuestUser">
                    <b>Supplier: </b>
                    <ng-container *ngIf="(product?.PriceLists?.[0]?.APTS_Enable_Multiple_Supplier_c && !fromFavorites); else supplierInfo"> Multiple</ng-container>
                    <ng-template #supplierInfo>
                        <ng-container *ngIf="!fromFavorites">
                            <ng-container *ngIf="internalDefaultAccount">{{product?.PriceLists?.[0]?.APTS_Hitachi_Location_Factory_Name_c }}</ng-container>
                            <ng-container *ngIf="!internalDefaultAccount">{{product?.PriceLists?.[0]?.APTS_Factory_Name_c }}</ng-container>
                        </ng-container>
                        <ng-container *ngIf="fromFavorites">
                            {{favLineItem?.MainLine?.APTS_Factory_c?.Name }}
                        </ng-container>
                    </ng-template>
                </p>
                <p *ngIf="favLineItem?.MainLine?.APTS_External_Configurator_Product_Desc_c">
                    <b>Description: </b>
                    <ng-container>
                        <div appendTo="body" class="dropdown short-desc-group">

                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                {{favLineItem?.MainLine?.APTS_External_Configurator_Product_Desc_c}} <i class="icon-arrow-right"></i>
                            </a>
                            <div appendTo="container" class="dropdown-menu prod-short-desc">
                                <i class="icon-close"></i>
                                {{favLineItem?.MainLine?.APTS_External_Configurator_Product_Desc_c}}
                            </div>
                        </div>
                    </ng-container>

                </p>

            </div>
            <!--supplier info ends -->
            <div class="flex-container-0 qty-price">
                <!-- <div class="flex"> -->
                <div>
                    <input *ngIf="!isGuestUser && product.ConfigurationType !== 'Bundle'" type="number" class="form-control qty grey-bg d-inline-block w-qty" [(ngModel)]="quantity" onpaste="return false;" (change)="changeItemQuantity()" [min]="1" [max]="99999" appLimitInput appNumbersOnly />
                </div>
                <div>
                    <h3 class="product-price my-1" *ngIf="!isGuestUser" [ngClass]="
              !customContractCurrency[product?.Id]?.showHidePriceCss
                ? 'price4diff-height'
                : ''
            ">
                        <ng-container *ngIf="fromFavorites">
                            <ng-container *ngIf="favLineItem?.MainLine?.APTS_SAP_Pricing_Status_c =='Complete'">
                                {{favLineItem?.MainLine?.APTS_Invoice_Price_PerUnit_c?.CurrencyCode}} {{favLineItem?.MainLine?.APTS_Invoice_Price_PerUnit_c?.Value | customCurrencyFormat}}
                            </ng-container>
                            <ng-container *ngIf="favLineItem?.MainLine?.APTS_SAP_Pricing_Status_c !='Complete'">
                                <span class=" onRequestClass_list">{{'COMMON.ON_REQUEST'| translate}}</span>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!fromFavorites">
                            <ng-container *ngIf="product?.PriceLists?.[0]?.ServiceProducts || product?.PriceLists?.[0]?.APTS_Enable_Multiple_Supplier_c">
                                <span class=" onRequestClass_list "> {{ product?.isExternalConfigurable ? ('COMMON.CONFIGURE_FOR_PRICE' | translate) : ('COMMON.ON_REQUEST' | translate) }}</span>
                            </ng-container>
                            <ng-container *ngIf="!product?.PriceLists?.[0]?.ServiceProducts && !product?.PriceLists?.[0]?.APTS_Enable_Multiple_Supplier_c">
                                <ng-container *ngIf="customContractCurrency[product?.Id]?.showHidePrice">
                                    <app-pghv-custom-price [record]="product" [pageName]="'productCardPage'" [customPrice]="true"></app-pghv-custom-price>
                                </ng-container>
                                <div [ngClass]="
                  !customContractCurrency[product?.Id]?.showHidePriceCss
                    ? ''
                    : 'diff-curr'
                ">
                                    <ng-container *ngIf="product?.isExternalConfigurable">
                                        <span class="custom-price">{{'COMMON.CONFIGURE_FOR_PRICE'| translate}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="!product?.isExternalConfigurable">
                                        <span *ngIf="customContractCurrency[product?.Id]?.showHidePriceCss">(</span>
                                        <app-pghv-custom-price class="custom-price" [record]="product" [pageName]="'productCardPage'" type="net"></app-pghv-custom-price>
                                        <span *ngIf="customContractCurrency[product?.Id]?.showHidePriceCss">)</span>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </h3>
                </div>
                <!-- </div> -->
            </div>
            <!-- <div class="stats-container-0" *ngIf="!isGuestUser"> -->
            <div class="btnList-0 list-unstyled-0 btns-group" *ngIf="!isGuestUser">
<!--
                <button class="btn btn-icon btn-link-primary align-items-start align-self-center p-0" tooltip="{{ 'ProductCard.QuickView' | translate }}" (click)="openModal($event, product)" [ladda]="quickViewLoader" style="padding: 0px !important">
                    <i class="icon-view ms-2 p-0" style="padding: 0px !important;top: 2px;position: relative"></i>
                </button>
-->
                <!-- <i *ngIf="!isRFC" class="icon-view btn py-2 btn-icon" (click)="openModal($event, product)"
          tooltip="{{'ProductCard.QuickView' | translate}}" [ladda]="quickViewLoader"></i> -->
                    <div *ngIf="product.ConfigurationType == 'Bundle'" class="configure-link">
                        <a *ngIf="!productAdded" class="btn py-2 btn-secondary btn-block" (click)="addBundleProductToCartNew(product)" [ladda]="spinner" [attr.data-style]="'zoom-in'" href="javascript:void(0);">{{ "ProductCard.Configure" | translate }}</a>

                        <button class="btn btn-rfc-success btn-success" *ngIf="productAdded">
                            <i class="icon-message-sent"></i>
                        </button>
                    </div>
                    <!-- spinner -->
                    <!-- [routerLink]="['/products', product.Id]" -->
                    <div *ngIf="
              product.ConfigurationType != 'Bundle' &&
              product.ConfigurationType != 'Option'
            " class="configure-link">
                        <button *ngIf="!productAdded" class="btn btn-primary" (click)="addProductToCarts(product,multipleSupplierModal)" [ladda]="spinner">
                            {{
                isRFC
                  ? "Add to
              RFC"
                  : "Add To Cart"
              }}
                        </button>
                        <button class="btn btn-rfc-success btn-success" *ngIf="productAdded">
                            <i class="icon-message-sent"></i>
                        </button>
                    </div>
                <button *ngIf="fromFavorites" (click)="removeFavoriteItem()" class="btn btn-icon align-items-start favdeletebtn" tooltip="{{ 'ProductCard.FAV_DELETE_ICON' | translate }}">
                    <i class="icon-trash"></i>
                </button>
            </div>
            <!-- </div> -->
            <div class="stats-container btns-group w-100 mt-auto" *ngIf="isGuestUser">
                <button class="btn btn-icon btn-link-primary btn-block ml-auto justify-content-center" [ladda]="quickViewLoader" data-style="zoom-out" (click)="openModal($event, product)">
                    {{ "ProductCard.QuickView" | translate }}
                    <i class="icon-view ms-2 p-0" style="padding: 0px !important;top: 2px;position: relative"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<ng-template #addToCartConfirmationTemplate>
    <div class="alert alert-success alertBottom single-supl-alert">
        <i class="icon-warning-message"></i>
        <span class="item-text">
            <strong> {{ "ProductCard.DiffSupplierAddedtoCart" | translate }}</strong>
            <i class="icon-close" (click)="confirmationModal.hide()"></i>
            <p>
                {{ productName }}
                {{ "ProductCard.DiffSupplierAddedtoCart2" | translate }}
                {{ different_supplier }}.
                {{ "ProductCard.DIFF_SUPPLIER_REST_MESSAGE" | translate }}
                {{ same_supplier }}
            </p>
            <!-- {{'ProductCard.DIFFERENT_SUPPLIER' | translate}} -->
            <!-- {{'ProductCard.SAME_SUPPLIER' | translate}} -->
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="confirmationModal.hide()"
        [routerLink]="['/carts']">{{'ProductCard.Cartbtn' | translate}}
        <i class="icon-arrow-right-alt"></i></button> -->
        </span>
    </div>
</ng-template>
<ng-template #checkMultipleSupplierList>
    <!-- /Heading -->
    <form [formGroup]="multipleSupplierForm" (ngSubmit)="addPSOProductToCart()">
        <div class="modal-header">
            <h5 class="modal-title">
                {{ "ProductSearch.multiplesupplier.Title" | translate }}
            </h5>
            <button type="button" class="close btn btn-icon" data-dismiss="modal" aria-label="Close" (click)="closemultipleSupplierForm()"></button>
        </div>
        <!-- /Heading -->
        <!-- Content -->
        <div class="modal-body">
            <h6>{{ "ProductSearch.multiplesupplier.ProductDetails" | translate }}</h6>
            <div class="form-group" *ngIf="supplierList?.length > 0">
                <label for="other">{{ "COMMON.ASSIGN_SUPPLIER" | translate }}
                    <span class="mandatory-star">*</span>
                </label>
                <div class="select-group">
                    <select class="form-control form-select" [(ngModel)]="selectedFactory" name="selectSupplier" formControlName="factoryId">
                        <option value="-1" selected disabled>Select Supplier</option>
                        <option *ngFor="let user of supplierList" [(ngValue)]="user.APTS_Supplier_Unit_c">
                            {{ user.APTS_Supplier_Unit__r?.Name }}
                        </option>
                    </select>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary border-left" [disabled]="multipleSupplierForm?.invalid" (click)="addPSOProductToCart()">
                {{ "ProductSearch.multiplesupplier.AddProduct" | translate }}
            </button>
        </div>
        <!-- Content -->
    </form>
</ng-template>

<ng-template #bundleProduct>
    <div class="rfqSuccMsg alert alert-warning alertBottom rfqSubmitted centered-div">
        <span class="item-text">
            <i class="icon-warning-message"></i>
            <strong>Alert </strong>
            <i class="icon-close" (click)="modalRef.hide()"></i>
            <p>
                Reconfiguration of line items is currently not supported. Please contact
                your local sales organization.
            </p>
        </span>
    </div>
</ng-template>

<ng-template #configProductAccessIssue>
    <div class="alert alert-success alertBottom single-supl-alert">

        <span class="item-text">
            <i class="icon-close" (click)="configProductAccess.hide()"></i>
            <p>
                <i class="icon-info"></i> {{'COMMON.PRODUCT_CONFIG_ACCESS_MESSAGE'|translate}}
            </p>
        </span>
    </div>
</ng-template>

<ng-template #multipleSupplierModal>
    <!-- Heading -->
    <form [formGroup]="multipleSupplierPopupForm" (ngSubmit)="addProductWithInitialSupplier()">
        <div class="modal-header">
            <h5 class="modal-title"> {{ "COMMON.SUPPLIER_DETAILS" | translate }} </h5>
            <button type="button" class="close btn btn-icon" aria-label="Close" (click)="closeMultipleSupplierModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- /Heading -->

        <!-- Content -->
        <div class="modal-body">
            <div class="form-group" *ngIf="suppliersList?.length > 0">
                <label for="supplierSelect">
                    {{ "COMMON.ASSIGN_SUPPLIER" | translate }}
                    <span class="mandatory-star">*</span>
                </label>
                <div class="select-group">
                    <select id="supplierSelect" class="form-control form-select" [formControlName]="'factoryDetails'" [(ngModel)]="selectedMultipleFactory">
                        <option value="" disabled>Select Supplier</option>
                        <option *ngFor="let supplier of suppliersList" [ngValue]="supplier">
                            {{ supplier.Name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="resetMultipleSupplierForm()" [disabled]="multipleSupplierPopupForm?.invalid || spinner">
                {{ "ProductSearch.UnavailableProduct.Reset" | translate }}
            </button>
            <button type="submit" class="btn btn-primary border-left" [disabled]="multipleSupplierPopupForm?.invalid" [ladda]="spinner">
                {{ "COMMON.ADD_TO_CART" | translate }}
            </button>
        </div>
        <!-- /Footer -->
    </form>
</ng-template>
