// @import "../../../../assets/css/main.css";
@import "variables";

.lds-ellipsis {
  margin: auto auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(122, 37, 179);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.search-container{
  apt-spinner{
      position: absolute;
      right: 3rem;
      top: 1.5rem;
  }
  typeahead-container{
      left: -24px !important;
      right: 24px !important;
  }
}

// ::ng-deep .ng-select {
//   min-height: 40px;
//   background: $brand-dark1;
//   border-radius: 0px;
//   // border: 1px solid transparent;
//   border-bottom: 1px solid $brand-dark3;
//   // font-size: 0.875rem;
//   font-size: 0.875rem;
//   display: block;
//   width: 100%;
//   height: calc(1.5em + 0.75rem + 2px);
//   padding: 0.6rem 0.75rem;
//   font-weight: 400;
//   line-height: 1.5;
//   cursor: pointer;
//   color: #495057;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
//     -webkit-box-shadow 0.15s ease-in-out;
// }
strong {
  display: inline-block;
  margin-bottom: 5px;
  color: $brand-dark4;
}
// ::ng-deep .ng-dropdown-panel  {
//   width: 100%;
//   background: $brand-dark1;
//   border: 1px solid $brand-dark1;
//   left: 0px;
//   top: 38px;
//   padding: 0px;
//   font-size: 1rem;
// }
// ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
//   background: $brand-dark1;
// }
// ::ng-deep
//   .ng-select
//   .ng-select-container
//   .ng-value-container
//   .ng-input
//   > input {
//   cursor: pointer !important;
// }
.noProducts {
  text-align: center;
  margin-top: 80px;
}
.no-items {
  .items-img {
      padding: 30px 15px;
      text-align: center;
      background: #fff;
      border-bottom: 1px solid $brand-dark1;
      border-top: none;
      .icon-img {
          background: url("../../../../assets/images/no-items.png") no-repeat;
          display: inline-block;
          width: 162px;
          height: 201px;
          cursor: default;
      }
      p {
          font-size: 0.875rem;
          margin-top: 15px;
      }
  }
}
.product-listing {
  margin-top: 0px;
}
.feature-products.separator-border {
  border-top: 1px solid $brand-dark3;
  padding-top: 32px;
  margin-top: 32px;
}
// ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{
//   background-color: $brand-red2 !important;
//   color: white;
// }
// ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
//   margin-top: -2px;
// }
// ::ng-deep .ng-select .ng-clear-wrapper.ng-star-inserted  {
//   position: relative;
//   top: -26px;
//   right: 20px;
// }
// ::ng-deep .ng-select .ng-clear-wrapper.ng-star-inserted .ng-clear {
//   font-size: 26px;
// }

::ng-deep .overlay-container .toast-container .toast-success {
  display: none !important;
}

.grid-view .active-list-view{
  .tab-lists{
    .product-box{
      width: 100% !important;
      .prod-body{
        flex-direction: column;
      }
    }
  }
}

.bd-sidebar .expand-collapse > ul > li a .icon-arrow-left {
  top: inherit !important;
}
