<!--  start -->
<h4 class="page-heading mb-3" *ngIf="!recentRFQ">{{'COMMON.QUOTES' | translate}}</h4>
<section class="order-main quote-list bg-light dashboard-recent-quote p-0" [ngClass]="!recentRFQ?(!closeFilterFlag && !closeOverviewFlag && !closeQuoteGenerationFlag)? '' : '' :''">
    <div class="row tile-list">
        <div class="col-12" [ngClass]="!recentRFQ?(!closeFilterFlag && !closeOverviewFlag && !closeQuoteGenerationFlag)? 'tableSize col-lg-8 col-xl-9 pb-3 pr-lg-4' : 'col-lg-8 col-xl-9 pb-3 pr-lg-4':''">
            <!-- table start here -->
            <div class="table-responsive">
                <app-quote-table [type]="type" [recentRFQ]="recentRFQ" (quoteList)="getDataFromChildComponent($event)"
                    [options]="tableOptions" [currentFilter]="currentFilter"></app-quote-table>
            </div>
            <!-- table end here -->

        </div>
        <div class="col-12 col-lg-4 col-xl-3 pl-lg-0" *ngIf="!recentRFQ">
            <div class="bg-white expand-collapse" *ngIf="closeFilterFlag">
                <h5 class="heading-value px-3">{{'OrdersList.Filter' | translate}} <i class="icon-close" (click)="closeOverViewandFilter('Filter')"></i></h5>
                
                <div class="card-body-1">
                    <form [formGroup]="filterForm">
                        <div class="form-group">
                            <label for="QuotationNumber">Quotation Number</label>
                            <input type="text" class="form-control" name="QuotationNumber" formControlName="QuotationNumber">
                        </div>
                        <div class="form-group">
                            <label for="ProjectName">Project Name</label>
                            <input type="text" class="form-control" name="ProjectName" formControlName="ProjectName">
                        </div>
                        <!-- <div class="form-group">
                            <label for="OrderNumber">Order Number</label>
                            <input type="text" class="form-control" name="OrderNumber" formControlName="OrderNumber">
                        </div> -->
                        
                        <div class="form-group" *ngIf="internalUser">
                            <label for="SolutionLineBL">Solution Line BL</label>
                            <select class="form-control" id="SolutionLineBL" formControlName="SolutionLineBL" (change)="onPickListChange($event, 'solLineBL')">
                                <option value="" disabled selected>Select</option>
                                <option *ngFor="let arr of solutionLinePL?.APTS_Business_Line_BU_c?.PicklistEntries" [(value)]="arr.Value" >{{arr?.DisplayText}}</option>
                              </select>
                            
                        </div>
                        <div class="form-group" *ngIf="internalUser">
                            <label for="SolutionLineBL">Solution Line</label>
                            <select class="form-control" id="SolutionLine" formControlName="SolutionLine">
                                <option value="" disabled selected>Select</option>
                                <option *ngFor="let arr of solLine_dependentValues" [(value)]="arr.Value">{{arr?.DisplayText}}</option>
                              </select>
                              <div class="invalidFeedback"
                                          *ngIf="filterForm.controls.SolutionLine.hasError('required')">
                                          Solution Line is required</div>
                            
                        </div>
                        <!--solline2-->
                        <div class="form-group" *ngIf="internalUser">
                            <label for="SolutionLineBL">Solution Line Level 2</label>
                            <select class="form-control" id="SolutionLine" formControlName="SolutionLine2">
                                <option value="" disabled selected>Select</option>
                                <option *ngFor="let arr of solLine2_dependentValues" [(value)]="arr.Value">{{arr?.DisplayText}}</option>
                            </select>
                            <div class="invalidFeedback" *ngIf="filterForm.controls.SolutionLine2.hasError('required')">
                                Solution Line2 is required</div>
                        
                        </div>
                        <div class="form-group">
                            <label for="SiteName">Site Name</label>
                            <input type="text" class="form-control" name="SiteName" formControlName="SiteName">
                        </div>
                        <div class="form-group" *ngIf="internalUser">
                            <label for="FunctionalLocation">Functional Location</label>
                            <input type="text" class="form-control" name="FunctionalLocation" formControlName="FunctionalLocation">
                        </div>
                        <div class="form-group"  *ngIf="internalUser">
                            <label for="Equipment">Equipment</label>
                            <input type="text" class="form-control" name="Equipment" formControlName="Equipment">
                        </div>
                        <div class="form-group">
                            <label for="SerialNumber">Serial Number</label>
                            <input type="text" class="form-control" name="SerialNumber" formControlName="SerialNumber">
                        </div>
                        <div class="row col-12 pr-0">
                            <label for="Status" class="w-100 side-label">Status</label>
                            <div class="mt-1" *ngFor="let status of arrays">
                                <div class="btn status-btn" [ngClass]="status.selected ?'status-btn-selected':''" (click)="selectedFilterStatus(status)">{{status?.name}}</div>
                                
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="SupplierOrderNo">Supplier Order No.</label>
                            <input type="text" class="form-control" name="SupplierOrderNo" formControlName="SupplierOrderNo">
                        </div> -->
                        
                        <div class="form-group my-4">
                            <label for="status" class="w-100 side-label">{{ "QUOTE_TABLE.CREATED_ON" | translate }}</label>
                            <div class="row col-12 mt-2">
                                <div class="btn status-btn" [ngClass]="datemonthyearobj?.['Current Month'] === 'THIS_MONTH'?'status-btn-selected':''" (click)="dateFunction('Current Month')">This Month</div>
                                <div class="btn status-btn" [ngClass]="datemonthyearobj?.['Last Month'] === 'LAST_MONTH'?'status-btn-selected':''" (click)="dateFunction('Last Month')">Last Month</div>
                                <div class="btn status-btn" [ngClass]="datemonthyearobj?.['Last Quarter'] === 'LAST_QUARTER'?'status-btn-selected':''" (click)="dateFunction('Last Quarter')">Last Quarter</div>
                                <div class="btn status-btn" [ngClass]="datemonthyearobj?.['Last Year'] === 'LAST_YEAR'?'status-btn-selected':''" (click)="dateFunction('Last Year')">Last Year</div>
                                <div class="btn status-btn" [ngClass]="datemonthyearobj?.['Custom'] === 'CUSTOM'?'status-btn-selected':''" (click)="dateFunction('Custom')">Custom</div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col p-0 mt-2" [ngClass]="customDateDisable ? 'disableClass':''">
                                <label for="" class="side-label">From</label>
                                 <span class="cust-date-picker w-100">
                                    <input type="text" (keydown)="$event.preventDefault()" [maxDate]="maxDate"
                                       class="form-control ux-input" id="customStartDate" [value]="customStartDate | date: 'yyyy-MM-dd'"
                                       placeholder="YYYY-MM-DD" #dp="bsDatepicker" bsDatepicker
                                       [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD'}"
                                       (bsValueChange)="dateChange($event,'startDate',0)" [isOpen]="isOpen[0]">
                                <span (click)="isOpen[0] = !isOpen[0]" class="date-icon">
                                    <i class="icon-calendar"></i>
                                 </span>
                                 </span>
                            </div>

                        </div>
                            <div class="form-group">
                            <div class="col p-0 mt-2" [ngClass]="customDateDisable ? 'disableClass':''">
                                <label for="" class="side-label">To</label>
                                <span class="cust-date-picker w-100">
                                    <input type="text" (keydown)="$event.preventDefault()" [maxDate]="maxDate" [minDate]="minDate"
                                       class="form-control ux-input" id="customEndDate" [value]="customEndDate | date: 'yyyy-MM-dd'"
                                       placeholder="YYYY-MM-DD" #dp1="bsDatepicker" bsDatepicker
                                       [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD'}"
                                       (bsValueChange)="dateChange($event,'endDate',1)" [isOpen]="isOpen[1]">
                                <span (click)="isOpen[1] = !isOpen[1]" class="date-icon">
                                    <i class="icon-calendar"></i>
                                 </span>
                                 </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pt-3" style="gap: 5px">
                            <button type="reset" class="btn btn-secondary col-md-6 d-flex
                            align-items-center text-center" [disabled]="spinner"
                            (click)="resetForm(dp,dp1)">
                            {{'MY_ACCOUNT.QUOTE_LIST.CANCEL' | translate}}
                            </button>
                            <button type="button" class="btn btn-primary col-md-6
                            enquiry-submit" [disabled]="spinner || (filterForm.controls.SolutionLine.hasError('required'))"
                            (click)="submitFilters(filterForm)">
                            {{'MY_ACCOUNT.QUOTE_LIST.FILTER' | translate}}</button>
                        </div>
                    </form>
                    
                </div>
            </div>

        
            <div class="bg-white pie-chart" [ngClass]="(closeOverviewFlag && !hideChart)? closeFilterFlag?'mt-4 showoverviewclass':'showoverviewclass':'hiddenclass'">
                <span class="heading-value">
                    {{'OrdersList.Overview' | translate}}<i class="icon-close" (click)="closeOverViewandFilter('OverView')"></i>
                </span>
                <div class="card-body">
                    <label class="chart-title" *ngIf="totalRfqs">
                        <span class="totalRfqs"> {{totalRfqs}}</span><br>{{'QuoteList.TotalRfqs'
                        | translate}}
                    </label>
                    <canvas (click)="onChartClick($event)" id="quoteCanvas"></canvas>
                </div>
                <div class="row pb-2 mr-0 ml-0
                    justify-content-space-around">
                    <div class="abbr">
                        
                        <span class="flex"><span class="workin-progress box mr-1"></span>
                            {{'QuoteList.WIP'
                            | translate}} <span *ngIf="chartValues?.WIP"> - {{chartValues?.WIP?.[0]?.['Count(Id)']}} </span></span>
                        <span class="flex"><span class="ready4checkout box mr-1"></span>
                            {{'QuoteList.RFC'
                            | translate}} <span *ngIf="chartValues?.RFC"> - {{chartValues?.RFC?.[0]?.['Count(Id)']}} </span></span>
                            <span class="flex"><span class="asgnd-to-sales box mr-1"></span>
                            {{'QuoteList.ATS'
                            | translate}} <span *ngIf="chartValues?.ATS"> - {{chartValues?.ATS?.[0]?.['Count(Id)']}} </span></span>
                            <span class="flex"><span class="p-ordered box mr-1"></span>
                            {{'QuoteList.PO'
                            | translate}} <span *ngIf="chartValues?.PO"> - {{chartValues?.PO?.[0]?.['Count(Id)']}} </span></span>
                            <span class="flex"><span class="p-ordered box mr-1"></span>
                            {{'QuoteList.SUP'
                            | translate}} <span *ngIf="chartValues?.SUP"> - {{chartValues?.SUP?.[0]?.['Count(Id)']}} </span></span>
                    </div>
                    <div class="abbr">
                        <span class="flex"><span class="abandoned box mr-1"></span>
                            {{'QuoteList.AB'
                            | translate}} <span  *ngIf="chartValues?.AB"> - {{chartValues?.AB?.[0]?.['Count(Id)']}}</span></span>
                        <span class="flex"><span class="accepted box mr-1"></span>
                            {{'QuoteList.AC'
                            | translate}} <span *ngIf="chartValues?.AC"> - {{chartValues?.AC?.[0]?.['Count(Id)']}}</span></span>
                        <span class="flex"><span class="rejected box mr-1"></span>
                            {{'QuoteList.R'
                            | translate}} <span *ngIf="chartValues?.R"> - {{chartValues?.R?.[0]?.['Count(Id)']}}</span> </span>   
                        <span class="flex"><span class="expired box mr-1"></span>
                            {{'QuoteList.Exp'
                            | translate}} <span *ngIf="chartValues?.EXP"> - {{chartValues?.EXP?.[0]?.['Count(Id)']}} </span></span>
                        <span class="flex"><span class="cancelled box mr-1"></span>
                            {{'QuoteList.CAN'
                            | translate}} <span *ngIf="chartValues?.CAN"> - {{chartValues?.CAN?.[0]?.['Count(Id)']}} </span></span>
                        <!-- Sachin Inamadar: MVPRLP-1249 As discussed with Karsan: If a quote does not have a status (null/undefined),
                        we group it under 'Others' to ensure it is reflected in the chart.
                        Others' status will only be displayed in the Chart and will not be included in the Table filter.  -->
                        <span class="flex"><span class="cancelled box mr-1"></span>
                        {{'QuoteList.OT'
                        | translate}} <span *ngIf="chartValues?.OT"> - {{chartValues?.OT?.[0]?.['Count(Id)']}} </span></span>
                    </div>
                </div>
                <!-- <div class="row pb-2 mr-0 ml-0
                justify-content-space-around">
                <div class="abbr">
                    <span class="flex"><span class="ats box mr-1"></span>
                        {{'QuoteList.ATS'
                        | translate}}</span>
                </div>
                </div> -->
            </div>
            <ng-container *ngIf="storefront$ | async as storefront;">
            <div class="bg-white side-container" [ngClass]="closeOverviewFlag || closeFilterFlag?'mt-4':'' " *ngIf="storefront.EnableQuoteRequest_c && closeQuoteGenerationFlag">
                <div class="heading-value">
                    <span>{{'QuoteList.RFQProcess'
                        | translate}} <i class="icon-close" (click)="closeOverViewandFilter('QuoteGenerationProcess')"></i></span>
                </div>
                <div id="home-slide" class="container carousel d-flex
                    align-items-center slide p-0" data-ride="carousel"
                    data-interval="false">
                    <ul class="carousel-indicators">
                        <li data-target="#home-slide" data-slide-to="0"
                            class="active"></li>
                        <li data-target="#home-slide" data-slide-to="1"></li>
                        <li data-target="#home-slide" data-slide-to="2"></li>
                        <li data-target="#home-slide" data-slide-to="3"></li>
                        <a class="carousel-control-prev" href="#home-slide"
                            data-slide="prev">
                            <i class="icon-arrow-left"></i>
                            <span class="d-none">Left Arrow</span>
                        </a>
                        <a class="carousel-control-next" href="#home-slide"
                            data-slide="next">
                            <i class="icon-arrow-right"></i>
                            <span class="d-none">Right Arrow</span>
                        </a>
                    </ul>
                    <div class="carousel-inner border-bottom pb-3 mb-5">
                        <div class="carousel-item active">
                            <div class="product-value pb-0">
                                <a class="product-img">
                                    <img class="mt-0" src="{{rightPaneImages.img1}}"
                                        alt="">
                                </a>
                                <div class="product-des p-2 d-inline-block">
                                    <h6>{{'QuoteList.Step1'
                                        | translate}}</h6>
                                    <p class="product-details
                                        carousel-details">{{'QuoteList.Browse'
                                        | translate}} </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="product-value pb-0">
                                <a class="product-img">
                                    <img class="mt-0" src="{{rightPaneImages.img2}}"
                                        alt="">
                                </a>
                                <div class="product-des pl-2">
                                    <h6>{{'QuoteList.Step2'
                                        | translate}}</h6>
                                    <p class="product-details
                                        carousel-details">{{'QuoteList.Step2Txt'
                                        | translate}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="product-value pb-0">
                                <a class="product-img">
                                    <img class="mt-0" src="{{rightPaneImages.img3}}"
                                        alt="">
                                </a>
                                <div class="product-des pl-2">
                                    <h6>{{'QuoteList.Step3'
                                        | translate}}</h6>
                                    <p class="product-details
                                        carousel-details">{{'QuoteList.Step3Txt'
                                        | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="product-value pb-0">
                                <a class="product-img">
                                    <img class="mt-0" src="{{rightPaneImages.img4}}"
                                        alt="">
                                </a>
                                <div class="product-des pl-2">
                                    <h6>{{'QuoteList.Step4'
                                        | translate}}</h6>
                                    <p class="product-details
                                        carousel-details">
                                        {{'QuoteList.Step4Txt'
                                        | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
            <div class="floatingbuttons" *ngIf="!recentRFQ">
                <button class="floating-btn" (click)="closeOverViewandFilter('Filter')" *ngIf="!closeFilterFlag">{{'OrdersList.Filter' | translate}}</button>
                <button class="floating-btn2" (click)="closeOverViewandFilter('OverView')" *ngIf="!closeOverviewFlag && !hideChart">{{'OrdersList.Overview' | translate}}</button>
                <button class="floating-btn3" (click)="closeOverViewandFilter('QuoteGenerationProcess')" *ngIf="!closeQuoteGenerationFlag">{{'QuoteList.RFQProcess'
                    | translate}}</button>
            </div>

           
        

      
            </ng-container>
        </div>
    </div>
</section>

<ng-template #loading>
    <div class="d-flex justify-content-center">
        <apt-dots></apt-dots>
    </div>
</ng-template>
<!--table  ends-->
